@font-face
	font-family: lexendDeca
	src: url("/lexend.woff2") format("woff2")
	font-display: swap

:root, button
	font-family: lexendDeca, Arial, sans-serif
	color: white
	background-color: black

:root
	overflow: overlay
	overflow-x: hidden

body
	margin: 0
	height: 100vh

h1
	background: linear-gradient(#f99, #85f)
	background-clip: text
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent

a, button
	transition: filter 0.2s, transform 0.15s
	&:hover
		filter: brightness(85%)
	&:active
		filter: brightness(70%)
		transform: scale(0.95)

a
	color: cyan

::-webkit-scrollbar
	width: 15px
	&-track
		background: none
	&-thumb
		border-radius: 9rem
		background: #262423
		&:hover
			background: #464443