@font-face
	font-family: lexendDeca
	src: url("/lexend.woff2") format("woff2")
	font-display: swap

:root
	font-family: lexendDeca, Arial, sans-serif
	color: white
	background-color: black

body
	margin: 0
	height: 100vh

a
	transition: filter 0.2s
	&:hover
		transition: filter 0.2s
		filter: opacity(80%)
